// 70 + rand(340) - excludes yellow color
$mainColor: hsl(70+random(340), (30+random(70))*1%, (20+random(40))*1%);

@mixin coloring($bg-color, $tx-color) {
    background: $bg-color;
    color: $tx-color;
}

@mixin square-size($side) {
    width: $side;
    height: $side;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1rem;
    font-family: Raleway, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    // border: 1px solid black;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 500px;
}

body,
.share-button,
#new-quote,
#page-author * {
    @include coloring($mainColor, white)
}

#postToSocials {
    display: flex;
}

.share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include square-size(40px);
    margin-right: 10px;
    border-radius: 3px;

    i {
        font-size: 1.5rem;
    }
}

#quote-box {
    @include coloring(white, $mainColor);
    height: 300px;
    padding: 0px 50px 70px;
    border-radius: 5px;
}

#quote {
    height: 90%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#quote-author {
    text-align: right;
}

#quote-text {
    margin-bottom: 10px;
}

#quote-text * {
    font-size: 2rem;
    font-weight: 600;
}

#ui {
    display: flex;
    justify-content: space-between;
}

#author::before {
    content: "- ";
}

#page-author {
    text-align: center;
    margin-top: 10px;
}

#page-author::before {
    content: "by ";
}

#new-quote {
    padding: 10px 15px;
    border-radius: 3px;
}